<mat-toolbar class="navbar ">
<div>
    <span>
        <img class="logoadjust" src="../../assets/logo.png" alt="logo" height="auto" width="10%">
    </span>
    <span class="header_product-logo-text">
       Gmail
    </span>
</div>
<div >
    <span><a href="https://gsuite.google.com/products/gmail/" > For work </a></span>
    <span><a href="https://accounts.google.com/AccountChooser/signinchooser?service=mail&continue=https%3A%2F%2Fmail.google.com%2Fmail%2F&flowName=GlifWebSignIn&flowEntry=AccountChooser" >      Sign in  </a>  </span>
    <span> 
        <a href="https://accounts.google.com/signup/v2/webcreateaccount?service=mail&continue=https%3A%2F%2Fmail.google.com%2Fmail%2F%3Fpc%3Dtopnav-about-n-en&flowName=GlifWebSignIn&flowEntry=SignUp" >
            <button mat-flat-button color="primary" class="header_product-button" >Create an account</button>   </a>
    </span>
</div>
</mat-toolbar>

