// .copyright-text p a{
//     color: #292523;
//   }
  .footer-menu li {
    display: inline-block;
    margin-left: 20px;
  }
  .footer-menu li:hover a{
    color: #2c2826;
  }
  .footer-menu li a {
    font-size: 14px;
    color: #878787;
  }
  .copyright-text li{
    display: inline-block;
    margin-left: 20px;
  }
  .copyright-text li:hover a{
    color: #2c2826;
  }
  .copyright-text li a{
    font-size: 14px;
    color: #878787;
  }
  .row{
      background-color: #f8f9f8;
  }
  #question mat-icon{
    font-size: 1.5em;
    vertical-align: middle;
    margin-right: 5px;
    // padding-top: 5px;
    }