<div class="row">
    <div class="col-12 text-center">
        <h2>Experience Gmail on any device</h2>
        <p>The ease & simplicity of Gmail, wherever you are.</p><br>
        <div class="space">
            <a href="https://play.google.com/store/apps/details?id=com.google.android.gm&referrer=utm_source%3Dweb_about_badge">
            <img src="../../assets/googleplay.png" alt="googleplaystore" height="50" width="150"></a>
            <a href="https://apps.apple.com/app/apple-store/id422689480">
                <img src="../../assets/appstore.png" alt="appplaystore" height="50" width="150">
            </a>
        </div>
    </div>
</div>
