<div class="row">
    <div class="col-12 text-center pt-5 mt-5">
        <img class="logo" src="../../assets/logo.png" alt="logo" height="auto" width="6%"><br><br><br>
        <h1>Get started with Gmail</h1><br>

  <div class="btn text-center"> 
    <a href="https://accounts.google.com/signup/v2/webcreateaccount?service=mail&continue=https%3A%2F%2Fmail.google.com%2Fmail%2F%3Fpc%3Dtopnav-about-n-en&flowName=GlifWebSignIn&flowEntry=SignUp" >
    <button mat-flat-button color="primary" class="header_product-button" >Create an account</button>   </a>
</div>
 


    </div>
</div>
