
        <div class="container-fluid">
          <div class="row">
            <div class="col-12">
              <app-header></app-header>
              <app-featureslider></app-featureslider>
              <app-downloadkey></app-downloadkey>
              <app-banner></app-banner>
              <app-product-grid></app-product-grid>
              <app-slider></app-slider>
              <app-suspicious></app-suspicious>
              <app-create-account></app-create-account>
              <app-footer></app-footer>
                     
            </div>
          </div>
        </div>
 

