<div class="row pt-4 mt-4">
    <div class="col-12">
        <div class="row">
            <div class="col text-center p-5 m-4" >
                <h2 class="text text-center">Take action right from <br>the inbox</h2><br>
                <p class="paragraph text-center">View attachments, RSVP to events, snooze messages and more <br> without opening any emails.</p><br>
            </div>
            <div class="col-lg-6 col-12 text-center p-5 m-4">
                <img class="imagelaoder" src="../../assets/slider22.png" alt="imageloader" height="auto" width="100%">
            </div>
        </div>
    </div>
</div>