<div class="container-fluid">
    <div class="row" id="background">
        <div class="col-12">
            <div class="row">
             <div class="col text-center m-4 p-4 pt-5 mt-5" >
                
                    <h1 class="main">Get more done <br>with Gmail </h1><br>
                    <p class="paragraph"> Now more secure, smarter and easier to use—helping <br class="p">you save time and do more with your inbox. </p> <br>
                    <span >
                        <a href="https://accounts.google.com/SignUp?service=mail&continue=https://mail.google.com/mail/?pc=topnav-about-n-en"> <button mat-flat-button color="primary" class="header_product-button" >Create an account</button></a>
                   </span>
               
             </div>
             <div class="col-lg-6 col-12 ">
                 <img class="imageload" src="../../assets/slider11.png" alt="image" height="auto" width="150%">
               
             </div>
            </div>
        </div>
    </div>
    
</div>