<div class="row pt-5 mt-5">
    <div class="col-sm-6 text-center">
      <div class="card">
        <div class="card-body">
          
           <h2 class="card-title">Stay organised instantly</h2><br>
            <p class="card-text p-3">See what’s new at a glance and decide what you want to read <br> and respond to.</p><br>
          
         <img class="images4" src="../../assets/gridcard1.png" alt="card1" height="auto" width="100%"><br>
        </div>
      </div>
    </div>
    <div class="col-sm-6 text-center">
      <div class="card">
        <div class="card-body">
          <h2 class="card-title">Never drop the ball</h2><br>
          <p class="card-text">Get nudges that remind you to follow up and respond to messages, <br>so that nothing slips through the cracks.</p>
        <br> <img class="images4" src="../../assets/gridcard2.png" alt="card2" height="auto" width="100%"><br><br>
        </div>
      </div>
    </div>
  </div>